<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <clear />
    <add name="MSSQL"
     providerName="System.Data.ProviderName"
     connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=D:\maksn\Documents\GitHub\GoodsAS\DatabaseStorageSQL\Database1.mdf;Integrated Security=True" />
  </connectionStrings>
</configuration>